html * {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0 0 0 0;
}

.header {
    padding: 10px;
    background-color: #A5D99D;
    margin: 0 auto 0 auto;
}

.header h1 {
    color: #000000;
    text-align: center;
}

.header .nav {
    text-align: center;
}

.header a {
    text-decoration: none;
    color: #000000;
}


footer {
    text-align: center;
    font-size: 10px;
}

.nav li {
    display: inline;
    padding-right: 50px;
}

.featuredcontent {
    width: 400px;
    margin: 20px auto 50px auto;
}

.featuredcontent h4 {
    margin-bottom: 5px;
}

.featuredcontent a {
    text-decoration: none;
    color: #26691c;
}

.featuredcontent img {
    width: 400px;
    height: auto;
}

.recipes {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    align-items: center;
}

.recipeimg {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    justify-self: center;
    
}

.recipeadditionalphotos {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;

}

.recipetext {
    display: grid;
    padding: 30px;
    grid-column-start: 2;
    grid-column-end: 3;

}

.recipeimg img {
    width: 300px;
    height: auto;
}


.recipeadditionalphotos img {
    width: 150px;
    height: auto;
}

.recipelist h3 {
    text-align: center;
}

.recipelist ul {
    list-style-type: none;
}

.recipelist li {
    width: 640px;
    height: 180px;
    border: 1px solid #24b35d;
    padding: 20px 15px 0 15px;
    margin: 20px auto 0 auto;
}

.recipelist img {
    width: 145px;
    height: 160px;
    padding-right: 20px;
    float: left;
}

.recipelist a {
    text-decoration: none;
    color: #26691c;
}

label {
    display: block;
    font-weight: bold;
    margin: 5px 2px 5px 0;
}

input {
    display: block;
    width: 400px;
    margin-bottom: 15px;
    padding: 3px 3px 3px 3px;
}

button {
    width: 80px;
    margin: 0 auto 50px auto;
    display: block;
}

input[type=checkbox], label[for=agreetc] {
    display: inline;
    width: auto;
}

textarea {
    display: block;
    width: 400px;
    height: 150px;
    margin-bottom: 15px;
    padding: 6px 6px 6px 6px;
}

form {
    width: 400px;
    margin: 30px auto 0 auto;
}

.formtitle {
    text-align: center;
    padding: 10px;
}