html * {
    font-size: 100%;
    font: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 0 0 0;
    margin: 0;
}

.header {
    padding: 10px;
    background-color: #A5D99D;
    margin: 0 auto 0 auto;
}

.header h1 {
    font-size: 42px;
    font-weight: 800;
    text-align: center;
}

.header .nav {
    font-size: 16px;
    text-align: center;
}

.header a {
    text-decoration: none;
    color: #000000;
}


footer {
    text-align: center;
    font-size: 10px;
    color: #6e6b6b;
}

.nav li {
    display: inline;
    padding-right: 50px;
}

.featuredcontent {
    width: 400px;
    margin: 20px auto 50px auto;
}

.featuredcontent h4 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
}

.featuredcontent a {
    text-decoration: none;
    color: #26691c;
}

.featuredcontent img {
    width: 400px;
    height: auto;
}

.recipes {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    align-items: center;
    margin: 10px 20px 20px 20px;
}

.recipeimg {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    justify-self: center;
    
}

.recipeadditionalphotos {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
}

.recipetext {
    display: grid;
    padding: 30px;
    grid-column-start: 2;
    grid-column-end: 3;

}

.recipeimg img {
    width: 300px;
    height: auto;
}

.recipeadditionalphotos img {
    width: 150px;
    height: auto;
}

.recipetext h2 {
    font-size: 26px;
    font-weight: 600;
    margin: 15px 0 5px 0;
}

.recipetext h3 {
    font-size: 20px;
    font-weight: 550;
    margin: 10px 0 0 0;
}

.recipeadditionalphotos h3 {
    font-size: 20px;
    font-weight: 550;
    margin: 10px 0 5px 0;
}

.recipelist h3 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.recipelist ul {
    list-style-type: none;
    padding: 0 30px 15px 30px;
    
}

.recipelist li {
    width: auto;
    height: 180px;
    max-width: 800px;
    border: 1px solid #24b35d;
    border-radius: 25px;
    background-color: #b7e4c933;
    padding: 20px 15px 0 15px;
    margin: 20px auto 20px auto;
}

.recipelist img {
    width: 145px;
    height: 160px;
    padding-right: 20px;
    float: left;
}

.recipelist a {
    font-size: 22px;
    text-decoration: none;
    color: #0b2906;
}

label {
    display: block;
    font-weight: bold;
    margin: 5px 2px 5px 0;
}

input {
    display: block;
    width: 400px;
    margin-bottom: 15px;
    padding: 3px 3px 3px 3px;
}

button {
    width: 80px;
    margin: 0 auto 50px auto;
    display: block;
}

input[type=checkbox], label[for=agreetc] {
    display: inline;
    width: auto;
}

textarea {
    display: block;
    width: 400px;
    height: 150px;
    margin-bottom: 15px;
    padding: 6px 6px 6px 6px;
}

form {
    width: 400px;
    margin: 30px auto 0 auto;
}

.formtitle {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
}